@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase rounded shadow hover:shadow-lg focus:outline-none;
}

.btn-primary {
    @apply bg-green-500 hover:bg-green-600;
}

.btn-danger {
    @apply bg-red-500 hover:bg-red-600;
}

.input {
    @apply bg-white shadow rounded border-0 p-3;
}

.alert {
    @apply mb-4 p-3;
}

.alert.error {
    @apply bg-red-300 text-red-700;
}

.alert.success {
    @apply bg-green-300 text-green-700;
}
