<template>
    <div class="alert" v-bind:class="{ error: type === 'error', success: type === 'success' }">{{ message }}</div>
</template>

<script>
export default {
    props: ['type', 'message'],

    name: "Alert"
}
</script>

<style scoped>

</style>
