<template>
    <div class="mx-auto max-w-screen-sm">
        <div class="text-center m-4" v-show="loading">Please wait, loading...</div>

        <div v-if="!loading">
            <div>
                <ItineraryCard :itinerary="row" v-for="row in itineraries" :key="row.id" />
            </div>
        </div>
    </div>
</template>

<script>
import ItineraryCard from "./ItineraryCard";
export default {
    name: "Itineraries",
    components: {ItineraryCard},
    async mounted() {
        this.itineraries = await this.loadData();
        this.loading = false;
    },

    data() {
        return {
            loading: true,
            itineraries: [],
        };
    },

    methods: {
        async loadData() {
            const {data} = await axios.get('/api/itineraries');

            return data.data;
        },
    }
}
</script>

<style scoped>

</style>
