<template>
    <div class="bg-white rounded-sm shadow-md my-4 px-2 py-3">
        <ul>
            <li v-for="leg in itinerary.legs" :key="leg.id" class="flex items-center mb-2 leading-5">
                <img :src="leg.airline.image" :alt="leg.airline.title" class="w-6 h-6 mr-2"/>

                <div class="grid grid-cols-3 px-2 items-center">
                    <div>
                        <div>{{ leg.departure_time }}</div>
                        <span class="text-gray-500">{{ leg.departure_airport }}</span>
                    </div>
                    <div class="row-span-2 text-center text-gray-500 text-bold text-2xl">→</div>
                    <div>
                        <div>{{ leg.arrival_time }}</div>
                        <span class="text-gray-500">{{ leg.arrival_airport }}</span>
                    </div>
                </div>

                <div class="flex-grow text-right">
                    <div class="text-gray-500">{{ leg.duration }}</div>

                    <div>
                        <span v-show="leg.stops === 0" class="text-green-500">Direct</span>
                        <span v-show="leg.stops > 0" class="text-red-500">
                                        {{ leg.stops }} {{ leg.stops === 1 ? 'Stop' : 'Stops' }}
                                    </span>
                    </div>
                </div>
            </li>
        </ul>

        <div class="flex">
            <div class="flex-grow">
                <div class="text-2xl leading-1">{{ itinerary.price }}</div>
                <div class="text-gray-400 leading-3">{{ itinerary.agent.title }}</div>
            </div>

            <button v-if="allowReservation" class="btn btn-primary" type="button" @click="registerFor(itinerary)">Select</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "ItineraryCard",
    props: {
        itinerary: {
            type: Object,
        },
        allowReservation: {
            type: Boolean,
            default: true,
        }
    },

    methods: {
        registerFor(itinerary) {
            this.$root.$emit('showReservationForm', itinerary);
        },
    }
}
</script>

<style scoped>

</style>
