<template>
    <div v-if="show" class="fixed top-0 inset-0 flex flex-col bg-gray-50 justify-center items-center p-5">
        <button class="btn absolute top-5 right-5 btn-danger" @click.prevent="close()">Cancel</button>

        <div class="justify-self-stretch w-full">
            <h1 class="font-bold text-xl text-center">Make a reservation for itinerary:</h1>

            <ItineraryCard :itinerary="itinerary" :allow-reservation="false"/>
        </div>

        <form @submit.prevent="saveReservation()" class="w-full mt-8">
            <Alert v-if="alert" :message="alert.message" :type="alert.type" />

            <div class="mb-2">
                <label class="block mb-1 font-bold">First Name</label>
                <input class="input w-full" type="text" v-model="form.first_name"/>
            </div>

            <div class="mb-2">
                <label class="block mb-1 font-bold">Last Name</label>
                <input class="input w-full" type="text" v-model="form.last_name"/>
            </div>

            <button type="submit" class="btn btn-primary" :disabled="loading">
                <span v-show="loading">Loading...</span>
                <span v-show="!loading">Reserve</span>
            </button>
        </form>
    </div>
</template>

<script>
import ItineraryCard from "./ItineraryCard";
import Alert from "./Alert";

export default {
    name: "Registration",
    components: {Alert, ItineraryCard},
    mounted() {
        this.$root.$on('showReservationForm', data => {
            this.show = true;
            this.itinerary = data;
        })
    },

    data() {
        return {
            show: false,
            itinerary: null,
            loading: false,

            form: {},

            alert: null,
        }
    },

    methods: {
        close() {
            this.show = false;
            this.itinerary = null;

            this.form = {};
            this.alert = null;
            this.loading = false;
        },

        async saveReservation() {
            this.loading = true;

            try {
                await axios.post(`/api/itineraries/${this.itinerary.id}/reserve`, this.form);

                this.alert = {
                    type: 'success',
                    message: 'Your reservation has been placed.'
                };
            } catch (e) {
                this.alert = {
                    type: 'error',
                    message: 'Failed to save your reservation, please check your fields and try again.'
                };
            }

            this.loading = false;
        }
    }
}
</script>

<style scoped>

</style>
